
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.313);
  margin-top: 20px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}
