body {

  background-color: #f4f6f8;
  margin: 0;
  padding: 2rem;
  color: #333;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: inset 0px 0px 0px 5px rgb(0, 0, 0);
  padding: 2rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #2a2a2a;
}

table {
  width: 100%;
  margin-bottom: 2rem;
}

th, td {
  border: 1px solid #5a5a5a;
  padding: 0.8rem;
  text-align: left;
}

th {
  background-color: #fcfcfc;

}

tr:nth-child(even) {
  background-color: #4d4c4c;
  color: #fff;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

form label {
  /* display: block; */
  /* font-weight: 500; */
  /* margin-bottom: 0.3rem; */
}

form input {
  width: 100%;
  padding:1rem;
  border-radius: 10px;
  border: 1px solid #5a5a5a;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

form input:focus {
  outline: none;
  border-color: #4a90e2;
}

.form{
  display: flex;
  flex-direction: column;
}
.form-group {
  /* flex: 1 1 48%; */
  width: 90%;
}

.error {
  color: #e74c3c;
  font-size: 1rem;
}

button {
  width: 50%;
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:disabled {
  background-color: #b5b5b5;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #219150;
}
